<section>
    <div class="container">
        <div class="course_details">


            <h1 class="course-title">Web Design Certification Training</h1>
            <br>
            <ul>
                <li>Website User Interface (UI) design</li>
                <li>Core Web Design and designing responsive websites</li>
                <li>Web Domain and Hosting maintenance</li>
                <li>Designing multiple device independent responsive websites</li>
                <li>Designing multiple device independent  responsive websites</li>
                <li>Design of a simple e-commerce website</li>
                <li>Designing multiple Marketing landing pages</li>
            </ul>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="row row-cols-2 row-cols-sm-2 g-4">
                <div class="col-sm-3">
                    <span style="color: #f5a623; font-size:20px">5000+</span>
                    <br>
                    <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Students empowered</span>
                </div>
                <div class="col-sm-3">
                    <span style="color: #ff8982; font-size:20px">Online</span>
                    <br>
                    <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Format</span>
                </div>
                <div class="col-sm-3">
                    <span style="color: #00ab; font-size:20px">32 hr</span>
                    <br>
                    <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Recommended 30-35 hr</span>
                </div>
                <div class="col-sm-3">
                    <span style="color: #00c190; font-size:20px">Jul 26</span>
                    <br>
                    <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Start date</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="UpcomingBatches">
    <div class="container">
        <h2 style="font-weight: 350;">Upcoming Batches</h2>
        <span class="underLine"></span>
        <br><br>
        <!-- <br>
            <div style="background-image: url({{baseUrl}}assets/images/bg_course.png);">
    
            </div> -->
        <div class="card upcoming_batch_details" style="background-image: url({{baseUrl}}assets/images/bg_course.png);">
            <div class="card-body">
                <div class="row text-white">
                    <div class="col-sm-6">
                        <h5>Course fees</h5>
                        <div class="price">
                            ₹12,990.00
                        </div>
                        <div class="col-sm-1" style="border-left: 1px dashed white;"></div>
                        <div class="col-sm-5">
                            <h3 id="advisors">Not sure? Talk to our advisors</h3>
                            <p>Drop your email and phone no. our advisors will get you soon</p>


                            <form (ngSubmit)="onSubmit()" #enquiryForm="ngForm">
                                <div class="mb-3">
                                    <input type="email" class="form-control w-75" id="exampleFormControlInput1"
                                        placeholder="Email" name="email" [class.is-invalid] = "email.invalid && email.touched"  [(ngModel)]="modelOfCourses.email" #email="ngModel" required>
    
                                        <span [class.d-none]="email.valid || email.untouched" class="text-danger">Email is Required</span>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control w-75" id="exampleFormControlInput1"
                                        placeholder="Phone" [class.is-invalid] = "mobile.invalid && mobile.touched" 
                                         [(ngModel)]="modelOfCourses.mobile" #mobile="ngModel" required>
    
                                         <span [class.d-none]="mobile.valid || mobile.untouched" class="text-danger">Mobile is Required</span>
                                </div>
                                <button class="btn text-white" style="background-color: #1dcea6;" [class.disabled]="enquiryForm.valid==false">Send</button>
    
                            </form>


                        </div>
                        <button class="btn text-white" style="background-color: #1dcea6;">Send</button>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Key Highlights</h3>
                <span class="underLine"></span>
                <br>
                <ul id="key" style="margin: 0; padding: 0;">
                    <li class="ng-star-inserted">Experienced Trainer Cum Developer</li>
                    <li class="ng-star-inserted">100% Practical Training</li>
                    <li class="ng-star-inserted">Live Projects and Internship</li>
                    <li class="ng-star-inserted">27*7 Techical Support</li>
                    <li class="ng-star-inserted">Doubt Solving Session</li>
                    <li class="ng-star-inserted">Flexible Payment</li>
                    <li class="ng-star-inserted">Resume Building</li>
                    <li class="ng-star-inserted">100% Placement Support</li>
                </ul>
            </div>

            <div class="col-sm-4 mt-3">
                <h3>Tools Covered</h3>
                <span class="underLine"></span>
                <br>
                <!-- <div>
                   <img src="{{baseUrl}}assets/images/icon/html-5.png" width="80" height="80" style="padding: 10px;"> 
                   <img src="{{baseUrl}}assets/images/icon/css.png" width="80" height="80" style="padding: 10px;"> 
                
                   <img src="{{baseUrl}}assets/images/icon/js.png" width="80" height="80" style="padding: 10px;"> 
                   <img src="{{baseUrl}}assets/images/icon/seo.png" width="80" height="80" style="padding: 10px;"> 

                </div> -->

                <div class="row">
                    <div class="col"><img src="{{baseUrl}}assets/images/icon/html-5.png" width="80" height="80"
                            style="padding: 10px;"></div>
                    <div class="col"> <img src="{{baseUrl}}assets/images/icon/css.png" width="80" height="80"
                            style="padding: 10px;"></div>
                    <div class="col"> <img src="{{baseUrl}}assets/images/icon/js.png" width="80" height="80"
                            style="padding: 10px;"> </div>
                    <div class="col"> <img src="{{baseUrl}}assets/images/icon/seo.png" width="80" height="80"
                            style="padding: 10px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3>Course Details</h3>
        <span class="underLine"></span>
        <p style="font-size: 16px;
    letter-spacing: .23px;
    color: rgba(18,14,61,.8);
    margin-top: 10px;">Learn from the best industry experts across the globe.</p>

        <div class="row">
            <div class="col-sm-5">
                <p>Path</p>
                <div class="card">
                    <div class="card-header bg-primary text-white p-3">
                        Java Certification Training
                    </div>
                    <div class="card-body">
                        <div class="row row-cols-3 row-cols-sm-3">
                            <div class="col-sm-3">
                                <h3>5</h3>
                                <span>Batches</span>
                            </div>
                            <div class="col-sm-3">
                                <h3>32</h3>
                                <span>Hours</span>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger" style="float:right;">Download syllabus</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="card" style="border: 1px solid #ffc662; background-color:#fef5e6;">
                    <div class="card-body">
                        <h5 class="card-title">Get in touch with our expert technical advisor</h5>
                        <p class="card-text">Enroll in online/offline programs built with top industry standards,
                            with dedicated mentorship and expert career guidance</p>
                        <form>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Name">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Email">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Mobile">
                            </div>
                            <br>
                            <button class="btn text-white btn-sm" style="background-color: #1dcea6;">Enroll Now</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <p>LEARNING PATH</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Industrial Module I - Understanding HTML4 & HTML5
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">


                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">

                                            <li>What is Markup Language</li>
                                            <li>Basic Structure of HTML</li>
                                            <li>Head Section and Elements</li>
                                            <li>Meta Tags</li>
                                            <li>External Link Tags</li>
                                            <li>HTML Structure Tags</li>
                                            <li>Create Table, Div and Frame Tag</li>
                                            <li>Content and Header Tags</li>
                                            <li>Paragraph, Span, Pre Tags</li>
                                            <li>Anchor Links and Named Anchors</li>
                                            <li>Object,Iframe and Image Tag</li>
                                            <li>Implementing iFrame in Realtime</li>
                                            <li>Working with Forms</li>
                                            <li>Form Tag and Attributes</li>
                                            <li>POST and GET Method</li>
                                            <li>Text Input, TextArea, Checkbox and Radio</li>
                                            <li>Password Field</li>
                                            <li>Select Option, Option Group</li>
                                            <li>File Field and Hidden Fields</li>
                                            <li>Submit, Reset, Image Buttons</li>
                                            <li>Relation between HTML Form and PHP</li>
                                            <li>XHTM</li>
                                            <li>What is XHTML</li>
                                            <li>Difference between HTML &amp; XHTML</li>
                                            <li>XHTML Basics</li>
                                            <li>Introduction to Doc Types</li>
                                            <li>XHTML Validation</li>
                                            <li>HTML5 (Latest Version)</li>
                                            <li>Introduction to HTML5</li>
                                            <li>Whats new in HTML5</li>
                                            <li>HTML5 Apis</li>
                                            <li>HTML5 Semanticg Tag</li>
                                            <li>HTML5 Multimedia</li>
                                            <li>Search, Email and Url Tel Input</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Industrial Module II - Cascading Style Sheets (CSS & CSS3)
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Introduction to Cascading Style Sheets</li>
                                            <li>Types of Style Sheets</li>
                                            <li>Media Type</li>
                                            <li>Default CSS Properties</li>
                                            <li>Types of CSS Selectors</li>
                                            <li>Adjacent Sibling Selector</li>
                                            <li>Other Selectors</li>
                                            <li>CSS properties</li>
                                            <li>Type Properties</li>
                                            <li>Background Properties</li>
                                            <li>Block Properties</li>
                                            <li>Box Model Properties</li>
                                            <li>List Properties</li>
                                            <li>Border Properties</li>
                                            <li>Positioning Properties</li>
                                            <li>CSS Optimization Tips</li>
                                            <li>CSS Compression</li>
                                            <li>(CSS 3.0 – Latest Version)</li>
                                            <li>Introduction to CSS 3</li>
                                            <li>Basic CSS3 Selectors</li>
                                            <li>Advanced CSS3 Selectors</li>
                                            <li>New CSS3 Properties</li>
                                            <li>CSS Rounded Corners</li>
                                            <li>Border Image</li>
                                            <li>Box and Text Shadow</li>
                                            <li>Multiple Backgrounds</li>
                                            <li>Background Origin</li>
                                            <li>Background Resize</li>
                                            <li>CSS Clip, Gradients, Opacity</li>
                                            <li>Transitions &amp; Transform</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Industrial Module III - Bootstrap 4
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">


                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Bootstrap Setup</li>
                                            <li>Benifits of Bootstrap</li>
                                            <li>Basics of Bootstrap</li>
                                            <li>Project Design Using Bootstrap</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Industrial Module IV - Java Script
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Introduction to Client Side Scripting</li>
                                            <li>Introduction to Java Script</li>
                                            <li>Javascript Types</li>
                                            <li>Variables in JS</li>
                                            <li>Operators in JS</li>
                                            <li>Conditions Statements</li>
                                            <li>Java Script Loops</li>
                                            <li>JS Popup Boxes</li>
                                            <li>JS Events</li>
                                            <li>JS Arrays</li>
                                            <li>Working with Arrays</li>
                                            <li>JS Objects</li>
                                            <li>JS Functions</li>
                                            <li>Using Java Script in Realtime</li>
                                            <li>Validation of Forms</li>
                                            <li>Related Examples</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Industrial Module V - Jquery And JQuery UI
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Introduction to jQuery</li>
                                            <li>jQuery Features</li>
                                            <li>Installing jQuery</li>
                                            <li>jQuery Syntax</li>
                                            <li>jQuery Ready Function</li>
                                            <li>jQuery Selectors</li>
                                            <li>jQuery Actions</li>
                                            <li>jQuery Custom Functionality</li>
                                            <li>jQuery Libraries</li>
                                            <li>jQuery Validation</li>
                                            <li>jQuery Slideshow</li>
                                            <li>jQuery Dropdown</li>
                                            <li>JS Functions</li>
                                            <li>jQuery UI</li>
                                            <li>Working with jQueryUI</li>
                                            <li>jQuery Accordions</li>
                                            <li>jQuery Tabs</li>
                                            <li>jQuery Tooltips</li>
                                            <li>jQuery Autocomplete</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Industrial Module VI - Hosting First Website
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Web Hosting Basics</li>
                                            <li>Types of Hosting Packages</li>
                                            <li>Registering domains</li>
                                            <li>Defining Name Servers</li>
                                            <li>Using Control Panel</li>
                                            <li>Creating Emails in Cpanel</li>
                                            <li>Using FTP Client</li>
                                            <li>Maintaining a Website</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">
                                Industrial Module VII - SEO Concepts
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Basics of SEO</li>
                                            <li>Importance of SEO</li>
                                            <li>Onpage Optimization Basics</li>
                                            <li>File Optimization</li>
                                            <li>Title Optimization</li>
                                            <li>Meta Tags creation</li>
                                            <li>Footer Optimization</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseSix">
                                Industrial Module VIII - Live Website Design Project
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Conversion of PSD to CSS</li>
                                            <li>Adding Menu System to Project</li>
                                            <li>Slideshow Integration</li>
                                            <li>Implementing Gallery Script</li>
                                            <li>Adding the Contact Form</li>
                                            <li>Form validations using JS</li>
                                            <li>Manual Website Testing</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseSix">
                                Industrial Module IX - Interview Preparation & Placement Assistance
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Interview Questions</li>
                                            <li>Resume Prepration</li>
                                            <li>How to Crack Interview</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseSix">
                                Industrial Module X - Live Project
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Working on Live Projects</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>

<section>

    <div class="container">
        <h2>Induatrial Projects</h2>
        <span class="underLine"></span>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4 ">
            <div class="col">
                <div class="card" style="height: 300px;">
                    <img src="https://drive.google.com/uc?export=view&id=1AZttUXHXdVeWEvCOwS0adasMBNhDH2n4"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ads managing website</h5>
                        <p class="card-text">Displaying ads on our website just like just dial and others...</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card " style="height: 300px;">
                    <img src="https://drive.google.com/uc?export=view&id=1AZttUXHXdVeWEvCOwS0adasMBNhDH2n4"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hospital administration system</h5>
                        <p class="card-text">we are currently starting our proposal
                            this semester,please if you can help me ,i will appreciate...</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card " style="height: 300px;">
                    <img src="https://drive.google.com/uc?export=view&id=1AZttUXHXdVeWEvCOwS0adasMBNhDH2n4"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">SEO-friendly website</h5>
                        <p class="card-text"> Google and other search engines
                            can crawl each page on the website efficiently..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<app-customer-feedback></app-customer-feedback>
<br><br>
<section>

    <div class="container">

        <div class="card text-center Freedemo">

            <div class="card-body ">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="h3">Free Demo Sessions</h3>
                        <p class="pcard">Get a Free online demo sessions Register Now</p>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h3">24x7 Support</h3>
                        <p class="pcard">Our support team will be there for you around-the-clock to help you with
                            doubts.</p>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h3">Job Assistance</h3>
                        <p class="pcard">Our team will guide you to your dream job</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<br><br>