<section>
    <div class="container">
        <div class="course_details">
            <h1 id="course_head">PHP Certification Training</h1>
            <br>
            <ul>
                <li>Master the concept of PHP framework</li>
                <li>PHP is an open source technology</li>
                <li>PHP is widely used in development of web applications</li>
                <li>Learn PHP with the industry defined use cases</li>
            </ul>
        </div>

        <div class="shadow p-3 mb-5 bg-body rounded mt-3">
            <div class="row row-cols-2 row-cols-sm-2 g-4">
                <div class="col-sm-3">
                    <span style="color: #f5a623; font-size:20px">1000+</span>
                    <br>
                    <span style="font-size: 14px; color: rgba(18,14,61,.35);">Trained Students</span>
                </div>
                <div class="col-sm-3">
                    <span style="color: #ff8982; font-size:20px">Online</span>
                    <br>
                    <span style="font-size: 14px; color: rgba(18,14,61,.35);">Mode Of Training</span>
                </div>
                <div class="col-sm-3">
                    <span style="color: #00ab; font-size:20px">45 hr</span>
                    <br>
                    <span style="font-size: 14px; color: rgba(18,14,61,.35);">Lecture hours</span>
                </div>
                <div class="col-sm-3">
                    <span style="color: #00c190; font-size:20px">Jul 15</span>
                    <br>
                    <span style="font-size: 14px; color: rgba(18,14,61,.35);">Next Batch Start date</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="UpcomingBatches">
    <div class="container">
        <h2 style="font-weight: 350;">Upcoming Batches</h2>
        <span class="underLine"></span>
        <br>
        <!-- <br>
            <div style="background-image: url({{baseUrl}}assets/images/bg_course.png);">
    
            </div> -->
        <div class="card upcoming_batch_details" style="background-image: url({{baseUrl}}assets/images/bg_course.png);">
            <div class="card-body">
                <div class="row text-white">
                    <div class="col-sm-6">
                        <h5>Course fees</h5>
                        <div class="price">
                            ₹11,999.00
                        </div>
                        <p><span style="text-decoration: line-through;">₹18,999.00</span> Discount offered worth
                            ₹7,000.00 </p>

                        <div class="progress" style="border-radius: 150px; width: 90%;">
                            <div class="progress-bar w-75 bg-warning"></div>
                        </div>
                        <p style="font-size: 15px; margin-top: 5px;">Batches are getting filling fast… <strong>HURRY
                                UP!</strong></p>
                        <button class="btn text-white" style="background-color: #1dcea6;">Enroll Now</button>
                    </div>
                    <div class="col-sm-1" style="border-left: 1px dashed white;"></div>
                    <div class="col-sm-5">
                        <h3 id="advisors">Not sure? Talk to our advisors</h3>
                        <p>Drop your email and phone no. our advisors will get you soon</p>


                        <form (ngSubmit)="onSubmit()" #enquiryForm="ngForm">
                            <div class="mb-3">
                                <input type="email" class="form-control w-75" id="exampleFormControlInput1"
                                    placeholder="Email" name="email" [class.is-invalid] = "email.invalid && email.touched"  [(ngModel)]="modelOfCourses.email" #email="ngModel" required>

                                    <span [class.d-none]="email.valid || email.untouched" class="text-danger">Email is Required</span>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control w-75" id="exampleFormControlInput1"
                                    placeholder="Phone" [class.is-invalid] = "mobile.invalid && mobile.touched" 
                                     [(ngModel)]="modelOfCourses.mobile" #mobile="ngModel" required>

                                     <span [class.d-none]="mobile.valid || mobile.untouched" class="text-danger">Mobile is Required</span>
                            </div>
                            <button class="btn text-white" style="background-color: #1dcea6;" [class.disabled]="enquiryForm.valid==false">Send</button>

                        </form>

                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title" style="color: #6b6666;">Jul 15</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title" style="color: #6b6666;">Weekdays <small class="text-muted" style="font-size: 15px;">(12
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title" style="color: #6b6666;">07:00am - 08:30am</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title" style="color: #6b6666;">Jul 30</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title" style="color: #6b6666;">Weekends <small class="text-muted" style="font-size: 15px;">(12
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title" style="color: #6b6666;">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title" style="color: #6b6666;">Aug 14</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title" style="color: #6b6666;">Weekdays <small class="text-muted" style="font-size: 15px;">(12
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title" style="color: #6b6666;">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">

                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title" style="color: #6b6666;">Aug 30</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title" style="color: #6b6666;">Weekends  <small class="text-muted" style="font-size: 15px;">(12
                                        weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title" style="color: #6b6666;">09:00am - 11:00am</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Key Highlights</h3>
                <span class="underLine"></span>
                <br>
                <ul id="key" style="margin: 0; padding: 0;">
                    <li class="ng-star-inserted">Experienced Trainers</li>
                    <li class="ng-star-inserted">Profile Building</li>
                    <li class="ng-star-inserted">Designed for Professionals</li>
                    <li class="ng-star-inserted">Dedicated Student Representative</li>
                    <li class="ng-star-inserted">Case Studies and Live Practical Project</li>
                    <li class="ng-star-inserted">Doubt Clearing Session</li>
                    <li class="ng-star-inserted">Complete Practical Training</li>
                    <li class="ng-star-inserted">No Cost EMI</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Tools Covered</h3>
                <span class="underLine"></span>
                <br>
                <div style="flex-flow: row wrap; box-sizing: border-box; display: flex">
                    <img  alt="tools covered"
                        src="{{baseUrl}}assets/images/call.png"
                        class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">
                    <img  alt="tools covered"
                        src=""
                        class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">
                    <img  alt="tools covered"
                        src=""
                        class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">
                    <img  alt="tools covered"
                        src=""
                        class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3>Course Details</h3>
        <span class="underLine"></span>
        <p style="font-size: 16px;
    letter-spacing: .23px;
    color: rgba(18,14,61,.8);
    margin-top: 10px;">Learn from the best industry experts across the globe.</p>

        <div class="row">
            <div class="col-sm-5">
                <p>Path</p>
                <div class="card">
                    <div class="card-header bg-primary text-white p-3">
                        Java Certification Training
                    </div>
                    <div class="card-body">
                        <div class="row row-cols-3 row-cols-sm-3">
                            <div class="col-sm-3">
                                <h3>5</h3>
                                <span>Batches</span>
                            </div>
                            <div class="col-sm-3">
                                <h3>32</h3>
                                <span>Hours</span>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger" style="float:right;">Download syllabus</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="card" style="border: 1px solid #ffc662; background-color:#fef5e6;">
                    <div class="card-body">
                        <h5 class="card-title">Get in touch with our expert technical advisor</h5>
                        <p class="card-text">Enroll in online/offline programs built with top industry standards,
                            with dedicated mentorship and expert career guidance</p>
                        <form>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Name">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Email">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Mobile">
                            </div>
                            <br>
                            <button class="btn text-white btn-sm" style="background-color: #1dcea6;">Enroll Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <p>LEARNING PATH</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Industrial Module I-Core-PHP
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">


                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Introduction to PHP</li>
                                            <li>Handling Html Form With Php</li>
                                            <li>Decisions and loop</li>
                                            <li>Function</li>
                                            <li>String matching with regular expression</li>
                                            <li>String</li>

                                            <li>Array</li>
                                            <li>Working with file and Directories</li>
                                            <li>State management</li>
                                            <li>Generating Images with PHP</li>
                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Mini Project</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <h6>2 Week + 2 Min read to complete</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Industrial Module II - Advanced PHP + Web Designing
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Introduction to OOPS</li>
                                            <li>Database Connectivity with MySql</li>
                                            <li>Exception Handling</li>
                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Mini Project</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>Bootstrap 5</li>
                                            <li>Java Script</li>
                                            <li>JQuery</li>
                                            <li>AJAX</li>
                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Mini Project</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <h6>2 Week + 2 Min read to complete</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Industrial Module III-MVC
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <h6>MVC (Model-View-Controller)</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Understanding Controller</li>
                                            <li>Understanding ORM(Object Relational Mapping)S</li>
                                            <li>Understanding Model</li>
                                            <li>View</li>
                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style mb-3">Mini Project</h6>

                                <h6>Rest API</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Rest API in Core-PHP & Rest API in MVC</li>

                                        </ul>
                                    </div>
                                </div>

                                <h6 class="mt-3">Additional</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Pagination in PHP</li>

                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Major Project (Real Time)</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <h6>2 Week + 2 Min read to complete</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Industrial Module IV - Real Time Application
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Facebook & Google login etc</li>
                                            <li>Payment Gateway Integration(Paytm)</li>
                                            <li>Payment Gateway Integration(Paypal & Stripe)</li>
                                            <li>Login With OTP</li>
                                            <li>Captcha in PHP</li>
                                            <li>Product Catalog</li>
                                            <li>Shopping Cart</li>
                                            <li>Mass Email Template in PHP</li>
                                            <li>Twillo SMS API</li>
                                            <li>File Import Export</li>
                                            <li>PHP Graphics</li>
                                            <li>Create Barcode Generator using PHP</li>
                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Major Project (Real-Time using Payment Gateway)</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <h6>2 Week + 2 Min read to complete</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Industrial Module V - Codeigniter
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>Initial Setup And Configuration</li>
                                            <li>Understanding Model First CI Application</li>
                                            <li>Codeigniter Urls, URI Routing</li>
                                            <li>Form Handling</li>
                                            <li>Helper Functions</li>
                                            <li>Database</li>
                                            <li>Active Record</li>
                                            <li>Sessions</li>
                                            <li>Email</li>
                                            <li>Image Manipulation</li>
                                            <li>Pagination</li>
                                            <li>User Agent</li>
                                            <li>Zip Encoding</li>
                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Major Project (Real-Time using Payment Gateway)</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <h6>2 Week + 2 Min read to complete</h6>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Industrial Module VI - Interview And Freelancer Q & A
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="card">
                                    <div class="card-body">
                                        <ul id="key">
                                            <li>How to crack an interview</li>
                                            <li>How to get Freelancer Project</li>

                                        </ul>
                                    </div>
                                </div>

                                <h6 class="title-style">Mini Project</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <h6>2 Week + 2 Min read to complete</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>