<div class="pop-style">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title text-muted text-center">Request A Call Back</h5>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Mobile">
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary">Submit</button>
            </div>

        </div>
    </div>
</div> 
