 <div class="pop-style">
    <div class="card">
        <div class="card-body">
            

            <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                <strong>Your form is submitted</strong> 
                <button (click) ="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>


            <h5 class="card-title text-muted text-center">Interested in this course?</h5>
            <h5 class="card-title text-muted text-center">Register for a free live demo class</h5>

            <form (ngSubmit)="onSubmit()" #quickForm="ngForm">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                    <input type="number" [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control" id="exampleFormControlInput1"
                        placeholder="Mobile" name="mobile" [(ngModel)]="modelOfQuick.mobile" #mobile="ngModel" required>

                        <span [class.d-none]="mobile.valid || mobile.untouched" class="text-danger">Mobile number is Required</span> 
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" [class.is-invalid]="email.invalid && email.touched" class="form-control" id="exampleFormControlInput1"
                        placeholder="Email" name="email" [(ngModel)]="modelOfQuick.email" #email="ngModel" required>

                        <span [class.d-none]="email.valid || email.untouched" class="text-danger">Email is Required</span>
                </div>

                
                <div class="mb-3 text-center">
                    
                    <button class="btn btn-primary" [class.disabled]="quickForm.valid==false">Submit</button>
                </div>
            </form>
            

        </div>
    </div>
</div> 
 
