<div class="jumbotron text-center blog-style">
    <h1 class="blog-font">My Blog</h1>   
  </div>


  <div class="container mb-5">
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>7 Unique Web Design Trends for 2021</h2>
          <h5>Title description, July 14, 2021</h5>
          <!-- <div class="fakeimg" style="height:200px; width: px;"><img src="assets/images/blog1.jpg" style="width: 600px;" image-fluid alt=""></div> -->
          <img src="assets/images/blog1.jpg" alt="">
          <br>
          <p>Every year’s website architecture patterns guarantee to radiate us into the scifi eventual fate we had always wanted, given that they are situated in innovation. In any case, the 2021 expectations we got from our local area of website specialists from around the planet propose the inverse.
            <br><br>

            2021’s website architecture patterns seem to share a typical subject: instead of trying to howdy tech dream, website specialists are looking for new statues of authenticity. They are mixing the computerized and the standard more than ever, and it reflects exactly how much a piece of regular day-to-day existence sites have become. Along these lines, the accompanying 9 website architecture patterns for 2021 are in a real sense reviving the advanced world.</p>
            <br>
            
        </div>
        <div class="card">
          <h2>Most Important Google Ranking Factors for 2021</h2>
          <h5>Title description, July 14, 2021</h5>
          <!-- <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p> -->
          <img src="assets/images/blog2..jpg" alt="">
          <br>
          <h2>Most Important Google Ranking Factors for 2021</h2>
          <p>There are 200+ SEO positioning variables that help web crawlers figure out which destinations should show in list items and how they should rank. On the off chance that you need your website to guarantee the best positions on SERPs (internet searcher results pages), you need to streamline your online presence to take into account these components. 
            <br>

            Fortunately, not the entirety of the 200+ positioning elements is equivalent. Some positioning elements are a higher priority than others. As you plan your SEO procedure, give unique consideration to these 6 factors that sway rankings the most.</p>
        </div>

        <div class="card">
          <h2>Reasons Why You Should Hire a Professional Web Development Agency in 2020.</h2>
          <h5>Title description, July 14, 2021</h5>
          
          <!-- <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p> -->
          <img src="assets/images/blog3.jpg" alt="">
          <br>
          <h2>Latest Strategy</h2>
          <p>Build up an amazing website architecture for your business and secure an incredible situation in the web crawlers for more business openings!
            <br>

            One of the significant qualities of a website specialist or designer is their capacity to spread out a key online arrangement. All in all, a web office will concentrate on your center plan of action just as any future business objectives. A top web office will establish a solid framework for your site to guarantee its prosperity long haul.</p>
            <br>
            <h2>High-Quality Work</h2>
            <br>
            <p>With most exchanges currently happening straightforwardly on the web, your site should be of extremely high caliber. As the doorstep to your business on the web, your site must make a decent initial introduction.
              <br>

              Ever attempted to make your own website composition? Indeed, even with a free website composition format it very well may be difficult to build up a first-class site. An online website will require certain modules, codes, headers, and pictures. This comes as natural to an expert website specialist.</p>
          
        </div>
      </div>






      <div class="rightcolumn">
        <div class="card">
          <h2>About Me</h2>
          <!-- <div class="fakeimg" style="height:100px;">Image</div> -->
          <iframe width="250" height="200" src="https://www.youtube.com/embed/xmj1AZm_fro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <p>Angular 12 tutorial from scratch for absolute beginners. The latest Angular 12 vs Angular 11 are almost the same but there are few changes. In this video, you will learn following different topics. 
            <br>

            Angular Crud operations let us get, update, post, and delete any kind of data. I will be using HTTP requests to perform all these crud operations. For JSON data, I will be using JSON-server as my fake localhost API.</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <!-- <div class="fakeimg">Image</div>
          <br>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div> -->
          <img src="assets/images/blog4.jpg" alt="">
          <br>
          <img src="assets/images/blog5.png" alt="">
          <br>
          <img src="assets/images/blog6.jpg" alt="">
          <br>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <p>Some text..</p>
        </div>
      </div>
    </div>
    
    
  </div>

  