<div class=" text-center blog-style">
  <h1 class="blog-font">My Blog</h1>
</div>


<div class="container mb-5">
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>7 Unique Web Design Trends for 2021</h2>
        <h5>Title description, July 19, 2021</h5>
        <!-- <div class="fakeimg" style="height:200px; width: px;"><img src="assets/images/blog1.jpg" style="width: 600px;" image-fluid alt=""></div> -->
        <img src="assets/images/blog1.jpg" alt="">
        <br>
        <div class="post-meta">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-calendar"></i>19 July, 2021</a> </li>
            <li><a href="#"><i class="fa fa-user"></i>by Admin</a></li>
            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a> </li>
          </ul>
        </div>

        <p>Every year’s website architecture patterns guarantee to radiate us into the scifi eventual fate we had always
          wanted, given that they are situated in innovation. In any case, the 2021 expectations we got from our local
          area of website specialists from around the planet propose the inverse.
          <br><br>

          2021’s website architecture patterns seem to share a typical subject: instead of trying to howdy tech dream,
          website specialists are looking for new statues of authenticity. They are mixing the computerized and the
          standard more than ever, and it reflects exactly how much a piece of regular day-to-day existence sites have
          become. Along these lines, the accompanying 9 website architecture patterns for 2021 are in a real sense
          reviving the advanced world.
        </p>


      </div>
      <div class="card">
        <h2>Most Important Google Ranking Factors for 2021</h2>
        <h5>Title description, July 19, 2021</h5>
        <!-- <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p> -->
        <img src="assets/images/blog2..jpg" alt="">
        <div class="post-meta">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-calendar"></i>19 July, 2021</a> </li>
            <li><a href="#"><i class="fa fa-user"></i>by Admin</a></li>
            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a> </li>
          </ul>
        </div>
        <h2>Most Important Google Ranking Factors for 2021</h2>
        <p>There are 200+ SEO positioning variables that help web crawlers figure out which destinations should show in
          list items and how they should rank. On the off chance that you need your website to guarantee the best
          positions on SERPs (internet searcher results pages), you need to streamline your online presence to take into
          account these components.
          <br>

          Fortunately, not the entirety of the 200+ positioning elements is equivalent. Some positioning elements are a
          higher priority than others. As you plan your SEO procedure, give unique consideration to these 6 factors that
          sway rankings the most.
        </p>
      </div>

      <div class="card">
        <h2>Reasons Why You Should Hire a Professional Web Development Agency in 2020.</h2>
        <h5>Title description, July 19, 2021</h5>

        <!-- <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p> -->
        <img src="assets/images/blog3.jpg" alt="">
        <div class="post-meta">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-calendar"></i>19 July, 2021</a> </li>
            <li><a href="#"><i class="fa fa-user"></i>by Admin</a></li>
            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a> </li>
          </ul>
        </div>
        <h2>Latest Strategy</h2>
        <p>Build up an amazing website architecture for your business and secure an incredible situation in the web
          crawlers for more business openings!
          <br>

          One of the significant qualities of a website specialist or designer is their capacity to spread out a key
          online arrangement. All in all, a web office will concentrate on your center plan of action just as any future
          business objectives. A top web office will establish a solid framework for your site to guarantee its
          prosperity long haul.
        </p>
        <br>
        <h2>High-Quality Work</h2>
        <br>
        <p>With most exchanges currently happening straightforwardly on the web, your site should be of extremely high
          caliber. As the doorstep to your business on the web, your site must make a decent initial introduction.
          <br>

          Ever attempted to make your own website composition? Indeed, even with a free website composition format it
          very well may be difficult to build up a first-class site. An online website will require certain modules,
          codes, headers, and pictures. This comes as natural to an expert website specialist.
        </p>

      </div>

      <br>

      <h2 class="form-h2-style">Leave a comment</h2>

      <div class="card-style">
        <div class="card" style="background-color:  #f3f6ff;">
          <div class="comment-form">

            <form>
              <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" id="name">
              </div>
              <br>
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email">
              </div>
              <br>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="url" class="form-control" id="website">
              </div>
              <br>

              <div class="form-group">
                <label for="message">Message *</label>
                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
              </div>
              <br>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn custom-btn">
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>


    <div class="rightcolumn">
      <div class="card">

        <div class="widget widget-sidebar">
          <div class="search-box">
            <form>
              <input type="search" class="form-control" placeholder="Search">
              <i class="fa fa-search" style="font-size:20px"></i>
            </form>
          </div>
        </div>

        <br>

        <h2>About Me</h2>
        <!-- <div class="fakeimg" style="height:100px;">Image</div> -->
        <div class="responsive-video">
          <iframe width="250" height="200" class="style-video" src="https://www.youtube.com/embed/xmj1AZm_fro"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <br>
        <p>Angular 12 tutorial from scratch for absolute beginners. The latest Angular 12 vs Angular 11 are almost the
          same but there are few changes. In this video, you will learn following different topics.
          <br>

          Angular Crud operations let us get, update, post, and delete any kind of data. I will be using HTTP requests
          to perform all these crud operations. For JSON data, I will be using JSON-server as my fake localhost API.
        </p>
      </div>

      <br>

      <!--Start popular Post -->
      <div class="widget-main">
        <h4>Popular Post</h4>
        <div class="sidebar-widget clearfix">
          <a href="#"><img src="assets/images/blog4.jpg" alt=""></a>
          <p class="sidebar-widget-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></p>
          <p class="date">19 july, 2021</p>
        </div>
        <div class="sidebar-widget clearfix">
          <a href="#"><img src="assets/images/blog5.png" alt=""></a>
          <p class="sidebar-widget-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></p>
          <p class="date">19 july, 2021</p>
        </div>
        <div class="sidebar-widget clearfix">
          <a href="#"><img src="assets/images/blog6.jpg" alt=""></a>
          <p class="sidebar-widget-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></p>
          <p class="date">19 july, 2021</p>
        </div>
      </div>
      <!-- / popular Post -->






      <!--start post categories-->
      <div class="widget-main">
        <h4>Top Categories</h4>
        <div class="post-categories">
          <ul>
            <li><a href="#">Photography</a></li>
            <li><a href="#">WordPress</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Video</a></li>
            <li><a href="#">Photography</a></li>
          </ul>
        </div>
      </div>
      <!--/ post categories-->




      <!-- Text -->
      <div class="widget-main">
        <h4>Text Widget </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In
          mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
        </p>
      </div>
      <!-- /Text -->


      <!-- Tags -->
      <div class="widget-main">
        <h4>Tags</h4>
        <div class="tags">
          <a href="">Web Design</a>
          <a href="">Graphic Design</a>
          <a href="">PHP</a>
          <a href="">Jquery</a>
          <a href="">Wordpress</a>
          <a href="">Animation</a>
          <a href="">Audio</a>
          <a href="">Photo Gallery</a>
        </div>
      </div>
      <!-- /Tags -->


      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>


</div>